:root {
  --color-dark: #111111;
  --color-violet: #1e1823;
  --color-grey: #4c4c4c;
  --color-orange: #fd9222;
  --color-notwhite: #fcf1e0;
  --color-white: #fafafa;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-white);
  color: var(--color-dark);
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
}
input,
textarea {
  outline: none;
}
button {
  cursor: pointer;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
}
.love-title,
.sellers-title,
.products-title,
.how-its-title,
.tasteadds-title {
  font-weight: 600;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-dark);
  margin-bottom: 50px;
}
.love-title-span,
.how-its-title-span,
.tasteadds-title-span,
.products-title-span,
.sellers-span,
.footer-blockfirst-title-span {
  color: var(--color-orange);
}
/* //////////////     Header     ////////////////////////////// */

.social-networks-svg {
  fill: #111111;
}
.social-networks-svg:focus,
.social-networks-svg:hover {
  fill: #fd9222;
}
.header .container {
  padding: 20px 32px;
}
.header-nav-logo {
  display: flex;
  gap: 4px;
}
.header-nav-logo-a {
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px;
  display: inline-flex;
}
.header-nav-logo-span {
  font-style: normal;
}
.header-menu-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  white-space: nowrap;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 365px;
}
.header-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
}
.header-menu-mes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}
.header-menu-mes-li {
  width: 40px;
  height: 40px;
  border: 1px solid #1111111a;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ////////    hero section 1   ///////////////////////////////// */
.hero .container {
  padding: 0;
}
.hero {
  padding: 381px 40px 40px 40px;
  background-color: #11111166;
  border-radius: 30px;
  max-width: 1135px;
  margin: 0 auto;
  background-image: url(../images/hero-img@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 80px;
}
.hero-text {
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: left;
  width: 484px;
  color: #ffffff;
  margin-bottom: 32px;
}
.hero-btn {
  width: 144px;
  height: 45px;
  padding: 0;
  border: 0;
  border-radius: 100px;
  background-color: var(--color-orange);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  /* margin-right: 14px; */
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}
.hero-link-how {
  height: 45px;
  width: 183px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
  padding: 14px 40px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #ffffff;
}
/* //////     Section 2 Benefits    //////////////////////////////// */
.benefits {
  background-color: var(--color-violet);
  width: 1200px;
  margin: 0 auto;
}
.benefits .container {
  padding: 50px;
}
.benefits-list-card-text-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: #ffffff;
}
.benefits-list-card-text-p {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.benefits-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 88px;
}
.benefits-list-card-divsvg {
  border: 1px solid #ffffff80;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.benefits-list-card {
  flex-basis: calc((100% - 176px) / 3);
}
/*  ////////   Section 3  tasteadds  /// //// ////////////////////////////////*/
.tasteadds .container {
  padding: 120px 32px 60px 32px;
}
.tasteadds-title-cards {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  gap: 32px;
}
.tasteadds-title-onecard {
  position: relative;
  border-radius: 15px;
  flex-basis: calc((100%-96px) / 4);
  padding: 28px 23px;
  /* height: 270px; */
  width: 260px;
}
.tasteadds-title-onecard-svg {
  position: absolute;
  top: 14px;
  right: 14px;
  /* fill: #ffffff; */
  fill: black;
}
.tasteadds-title-onecard.one,
.tasteadds-title-onecard.five {
  background-color: var(--color-orange);
  color: white;
}
.tasteadds-title-onecard.two,
.tasteadds-title-onecard.four,
.tasteadds-title-onecard.six {
  border: 1px solid #fd9222;
}
.tasteadds-title-onecard.three,
.tasteadds-title-onecard.seven {
  background-color: var(--color-violet);
  color: white;
}

.tasteadds-title-onecard-img {
  margin-bottom: 36px;
}
.tasteadds-title-onecard-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

/*   ////////   section 4  how_its_made //////////////////////////////////////////// */
/* .how-its-content-img {
  background: rgba(17, 17, 17, 0.4);
} */
.how-its .container {
  padding: 60px 32px 60px 32px;
}
.how-its-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #ffffff;
}
.how-its-content-text {
  padding: 32px;
}
.how-its-content-text-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 28px;
}
.how-its-content-text-list-li {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.how-its-content-text-list li:not(:last-child) {
  margin-bottom: 24px;
}
.how-its-content-img {
  /* width: 100%; */
  border-radius: 15px;
}
/* /////      Section 5   products  //////////////////////////////////// */
.products .container {
  padding: 60px 34px 60px 32px;
}
.products-onecard-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}
.products-onecard-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-onecard-img {
  margin-bottom: 8px;
}

.products-onecard-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--color-white);
  border-radius: 100px;
  width: 94px;
  height: 33px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  padding: 0;
}
.products-onecard-btn:focus,
.products-onecard-btn:hover {
  background-color: var(--color-orange);
  color: #ffffff;
}
.products-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px 18px;
}
.products-onecard {
  max-width: 270px;
  flex-basis: calc((100%-54px) / 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 32px 20px;
  /* width: 270px;
  height: 364px; */
}
/* ////  Section 6  Sellers / ///////////////////////////////   */
.sellers .container {
  padding: 60px 32px;
}
.sellers-cards {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.sellers-onecard-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.sellers-onecard-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: justify;
  padding: 178px 40px;
}
.sellers-onecard:hover p {
  transform: translateY(0%);
}
.sellers-onecard-textcontent-title {
  padding: 28px 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
.sellers-onecard-img {
  max-width: 100%;
}
/* //////  Section 7  love   ////////////////////////////    */

.love .container {
  padding: 60px 32px 118px 32px;
  /* position: relative; */
}
.love-cardlist-card-content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.love-cardlist-card-content-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.love-cardlist-card {
  position: relative;
  text-align: center;
  height: 240px;
  background-color: transparent;
  /* flex-basis: calc((100% - 56px) / 3); */
}
.love-cardlist-card-content {
  background-color: #ffffff;
  width: 360px;
  height: 200px;
  margin-top: 40px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  border-radius: 15px;
  padding: 56px 24px 24px 24px;
}
.love-cardlist-card-img {
  position: absolute;
  top: 0px;
  left: 140px;
}
.love-cardlist-cards {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 50px;
}
.love-btn {
  width: 222px;
  height: 50px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  color: #111;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.love-btn:hover,
.love-btn:focus {
  background-color: var(--color-orange);
  color: #ffffff;
}
/* ////    Footer  //////////////////////////////////////////////// */
.footer {
  background-color: var(--color-violet);
}
.footer-blockfirst-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21429;
  letter-spacing: -0.02em;
  color: #ffffff;
}
.footer-blockfirst-links-mes-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
}
.footer-blockfirst-links-con-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
}
.footer-blockfirst-links-con-text-add-list-li {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
.footer-blockfirst-links-mes-text-list-li-a {
  /* border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px; */
}
.footer-blockfirst-links-mes-text-list-li {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
}
.footer-blockfirst-links-mes-text-list-li-a-svg {
  fill: #fff;
}
.footer-blocksecond-form-btn {
  border-radius: 100px;
  padding: 0;
  width: 137px;
  height: 52px;
  background-color: var(--color-orange);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
}
.footer-blocksecond-form-btn:hover,
.footer-blocksecond-form-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}
.footer-blocksecond-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
}
