:root {
  --color-dark: #111111;
  --color-violet: #1e1823;
  --color-grey: #4c4c4c;
  --color-orange: #fd9222;
  --color-notwhite: #fcf1e0;
  --color-white: #fafafa;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ebebeb;
  color: var(--color-dark);
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

input,
textarea {
  outline: none;
  overflow: hidden;
}

button {
  cursor: pointer;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.modal-buy-title,
.modal-subscribe-wrapp2-title,
.love-title,
.sellers-title,
.products-title,
.how-its-title,
.tasteadds-title {
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .modal-buy-title,
  .modal-subscribe-wrapp2-title,
  .love-title,
  .sellers-title,
  .products-title,
  .how-its-title,
  .tasteadds-title {
    font-size: 24px;
    line-height: 1.16667;
    margin-bottom: 50px;
  }
}

.modal-buy-title-span,
.modal-subscribe-wrapp2-title-span,
.love-title-span,
.how-its-title-span,
.tasteadds-title-span,
.products-title-span,
.sellers-span,
.footer-blockfirst-title-span,
.modal-text-span {
  color: var(--color-orange);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header .container {
  padding: 20px 20px 14px 20px;
}
@media (min-width: 768px) {
  .header .container {
    padding: 20px 32px;
  }
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .header-nav {
    gap: 47px;
  }
}
@media (min-width: 1200px) {
  .header-nav {
    gap: 365px;
  }
}
.header-nav-logo-a {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.28571;
  letter-spacing: -0.03em;
  display: flex;
  align-items: center;
}
@media (min-width: 1200px) {
  .header-nav-logo-a {
    font-size: 18px;
    line-height: 1.11111;
  }
}
.header-nav-logo-span {
  font-style: normal;
}
.header-nav-logo-svg {
  margin-left: 4px;
  width: 21px;
  height: 21px;
}
@media (min-width: 1200px) {
  .header-nav-logo-svg {
    width: 24px;
    height: 24px;
  }
}
.header-nav-burger-btn {
  padding: 0;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .header-nav-burger-btn {
    display: none;
  }
}
.header-nav-burger-svg {
  stroke: var(--color-dark);
}
.header-menu {
  display: none;
}
@media (min-width: 768px) {
  .header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
  }
}
@media (min-width: 1200px) {
  .header-menu {
    gap: 90px;
  }
}
.header-menu-links {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.02em;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  white-space: nowrap;
}
.header-menu-links-li {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-links-li:focus {
  color: var(--color-orange);
}
.header-menu-links-li:hover {
  color: var(--color-orange);
}
.header-menu-links-li-a {
  position: relative;
}
.header-menu-links-li-a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: var(--color-orange);
  height: 2px;
  border-radius: 15px;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}
.header-menu-links-li-a:hover:before {
  transform: scale(1);
}
.header-menu-mes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 14px;
}
.header-menu-mes-li {
  width: 40px;
  height: 40px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
}
.header-menu-mes-li-a {
  fill: #111111;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-mes-li-a:focus, .header-menu-mes-li-a:hover {
  fill: #fd9222;
}

.hero .container {
  padding: 395px 22px 20px 20px;
}
@media (min-width: 768px) {
  .hero .container {
    padding: 671px 40px 40px 40px;
  }
}
@media (min-width: 1200px) {
  .hero .container {
    padding: 381px 40px 40px 40px;
  }
}

.hero {
  background-color: rgba(17, 17, 17, 0.4);
  border-radius: 30px;
  max-width: 335px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-small@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 80px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-small@2x.jpg);
  }
}
@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-med@1x.jpg);
    max-width: 768px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-med@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-big@1x.jpg);
    max-width: 1136px;
    margin-bottom: 80px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi) {
  .hero {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/hero-big@2x.jpg);
  }
}
.hero-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-align: left;
  width: 293px;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .hero-text {
    line-height: 1.21429;
    width: 484px;
    font-size: 28px;
  }
}
.hero-wrapbtn {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 32px;
}
.hero-btn {
  min-width: 120px;
  height: 41px;
  padding: 0;
  border: 0;
  border-radius: 100px;
  background-color: var(--color-orange);
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  margin-right: 14px;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), background-color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .hero-btn {
    min-width: 144px;
    height: 45px;
  }
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
  transform: scale(1.1);
}
.hero-link-how {
  /* height: 45px; */
  min-width: 159px;
  height: 41px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  color: #ffffff;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), border-color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .hero-link-how {
    min-width: 183px;
    height: 45px;
  }
}
.hero-link-how:hover, .hero-link-how:focus {
  color: var(--color-orange);
  border-color: var(--color-orange);
  transform: scale(1.1);
}
.hero-link-scroll {
  font-size: 12px;
  line-height: 1.16667;
  font-weight: 500;
  letter-spacing: -0.03em;
  color: #FFFFFF;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  margin-right: auto;
  margin-left: 0;
  gap: 12px;
  align-items: center;
}
@media (min-width: 768px) {
  .hero-link-scroll {
    margin-left: auto;
    margin-right: 0;
    gap: 14px;
    font-size: 14px;
    line-height: 1.28571;
  }
}
.hero-link-scroll:hover, .hero-link-scroll:focus {
  color: var(--color-orange);
}
.hero-link-scroll:hover .hero-link-scroll-svg, .hero-link-scroll:hover .hero-link-scroll-svg {
  transform: rotate(360deg);
  fill: #ffffff;
  stroke: black;
}
.hero-link-scroll:hover .hero-link-scroll-span, .hero-link-scroll:focus .hero-link-scroll-span {
  background-color: var(--color-orange);
}
.hero-link-scroll-svg {
  width: 16px;
  height: 16px;
  fill: var(--color-orange);
  stroke: var(--color-orange);
  transition: stroke 1100ms cubic-bezier(0.4, 0, 0.2, 1), fill 1100ms cubic-bezier(0.4, 0, 0.2, 1), transform 1100ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .hero-link-scroll-svg {
    width: 22px;
    height: 22px;
  }
}
.hero-link-scroll-span {
  width: 28px;
  height: 28px;
  background-color: #FFFFFF;
  border-radius: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .hero-link-scroll-span {
    width: 38px;
    height: 38px;
  }
}

.benefits {
  background-color: var(--color-violet);
  max-width: 375px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .benefits {
    min-width: 768px;
  }
}
@media (min-width: 1200px) {
  .benefits {
    min-width: 1200px;
  }
}
.benefits .container {
  padding: 20px;
}
@media (min-width: 768px) {
  .benefits .container {
    padding: 50px 32px;
  }
}
@media (min-width: 1200px) {
  .benefits .container {
    padding: 50px;
  }
}
.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    -moz-column-gap: 88px;
         column-gap: 88px;
    row-gap: 44px;
  }
}
@media (min-width: 1200px) {
  .benefits-list {
    flex-wrap: nowrap;
    gap: 88px;
  }
}
.benefits-list-card {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 308px;
  position: relative;
}
.benefits-list-card:not(:last-child):before {
  display: none;
}
@media (min-width: 1200px) {
  .benefits-list-card:not(:last-child):before {
    display: block;
    position: absolute;
    content: "";
    width: 124px;
    height: 2px;
    background-color: #f34444;
    top: 113px;
    right: -108px;
    transform: rotate(90deg);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.benefits-list-card-text-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  color: #ffffff;
  margin-bottom: 18px;
}
.benefits-list-card-text-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.benefits-list-card-divsvg {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasteadds .container {
  padding: 80px 20px 40px 20px;
}
@media (min-width: 768px) {
  .tasteadds .container {
    padding: 100px 32px 50px 32px;
  }
}
@media (min-width: 1200px) {
  .tasteadds .container {
    padding: 120px 32px 60px 32px;
  }
}
.tasteadds-title {
  width: 283px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .tasteadds-title {
    width: 412px;
  }
}
@media (min-width: 768px) {
  .tasteadds-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 32px;
  }
}
.tasteadds-onecard {
  position: relative;
  border-radius: 15px;
  padding: 32px 28px 28px 28px;
  width: 335px;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.tasteadds-onecard:not(:last-child) {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .tasteadds-onecard {
    width: 336px;
  }
  .tasteadds-onecard:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .tasteadds-onecard {
    width: 260px;
    padding: 28px 23px;
  }
}
.tasteadds-onecard-svg {
  position: absolute;
  top: 14px;
  right: 14px;
}
.tasteadds-onecard:nth-child(4n+3) {
  background-color: var(--color-violet);
  color: white;
}
.tasteadds-onecard:nth-child(4n+1) {
  background-color: var(--color-orange);
  color: white;
}
.tasteadds-onecard:nth-child(2n) {
  border: 1px solid #fd9222;
}
.tasteadds-onecard-img {
  width: 236px;
  height: 176px;
  margin-bottom: 16px;
}
@media (min-width: 768px) {
  .tasteadds-onecard-img {
    width: 336px;
    margin-bottom: 22px;
  }
}
@media (min-width: 1200px) {
  .tasteadds-onecard-img {
    margin-bottom: 36px;
    width: 214px;
    height: 160px;
  }
}
.tasteadds-onecard-text {
  position: absolute;
  bottom: 28px;
  left: 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}
.tasteadds-overlay-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(360deg) scale(0);
  transition: transform 1350ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  background-color: #ffffff;
  color: #111111;
  padding: 20px;
  z-index: 5;
  /* border: 1px solid #fd9222; */
}
.tasteadds-overlay-card-title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  letter-spacing: -0.03em;
}
.tasteadds-overlay-card-link1 {
  width: 81px;
  height: 24px;
  border-radius: 35px;
  background-color: #FD9222;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 14px;
}
.tasteadds-overlay-card-link2 {
  width: 93px;
  height: 24px;
  border-radius: 35px;
  border: 1px solid var(--color-orange);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  background-color: transparent;
}
.tasteadds-overlay-card-link1:hover, .tasteadds-overlay-card-link2:hover, .tasteadds-overlay-card-link1:focus, .tasteadds-overlay-card-link2:focus {
  transform: scale(1.1);
}
.tasteadds-overlay-card-wrapper {
  display: flex;
  gap: 6px;
  justify-content: flex-start;
}
.tasteadds-overlay-card-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  overflow: hidden;
  text-align: justify;
}
.tasteadds-onecard:hover .tasteadds-overlay-card {
  transform: rotate(0deg) scale(1);
}

.first {
  transition: transform 1350ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(100%) perspective(400px) rotateX(0deg);
}

.one:hover .first {
  transform: translateY(0%) perspective(400px) rotateX(360deg);
}

.how-its .container {
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .how-its .container {
    padding: 50px 77px;
  }
}
@media (min-width: 1200px) {
  .how-its .container {
    padding: 60px 32px;
  }
}
.how-its-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
}
@media (min-width: 1200px) {
  .how-its-content {
    flex-direction: row;
  }
}
.how-its-content-text {
  padding: 20px 14px;
  position: relative;
}
@media (min-width: 768px) {
  .how-its-content-text {
    padding: 32px;
  }
}
.how-its-content-text-list {
  padding-left: 16px;
}
.how-its-content-text-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  color: #111;
  margin-bottom: 20px;
  width: 307px;
}
@media (min-width: 768px) {
  .how-its-content-text-title {
    width: 350px;
    margin-bottom: 28px;
  }
}
.how-its-content-text-list li:not(:last-child) {
  margin-bottom: 24px;
}
.how-its-content-text-list-li {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #111;
}
.how-its-content-text-list-li:before {
  content: "";
  position: absolute;
  left: 16px;
  background-color: #4c4c4c;
  /* margin-right: 30px; */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-top: 5px;
  border: 1px solid #ECEDED;
}
@media (min-width: 768px) {
  .how-its-content-text-list-li:before {
    left: 32px;
  }
}
.how-its-content-wrap2 {
  width: 335px;
  overflow: hidden;
  border-radius: 15px;
}
@media (min-width: 768px) {
  .how-its-content-wrap2 {
    width: 613px;
  }
}
@media (min-width: 1200px) {
  .how-its-content-wrap2 {
    width: 600px;
  }
}
.how-its-content-wrap1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199.8px) {
  .how-its-content-wrap1 {
    width: 614px;
    height: 400px;
  }
}
@media (min-width: 768px) {
  .how-its-content-video {
    height: 100%;
  }
}

.products .container {
  padding: 40px 20px 40px 20px;
}
@media (min-width: 768px) {
  .products .container {
    padding: 50px 32px 50px 32px;
  }
}
@media (min-width: 1200px) {
  .products .container {
    padding: 60px 32px 60px 32px;
  }
}
.products-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 32px;
}
@media (min-width: 768px) {
  .products-cards {
    gap: 32px 32px;
  }
}
@media (min-width: 1200px) {
  .products-cards {
    gap: 24px 18px;
  }
}
.products-onecard[data-badge]::after {
  content: attr(data-badge);
  display: block;
  position: absolute;
  right: 25px;
  top: 0;
  padding: 5px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: red;
  color: black;
}
.products-onecard[data-badge1]::after {
  content: attr(data-badge1);
  display: block;
  position: absolute;
  left: 25px;
  top: 0;
  padding: 5px 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--color-orange);
  color: black;
}
.products-onecard {
  position: relative;
  width: 335px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 32px 52px 32px 53px;
}
@media (min-width: 768px) {
  .products-onecard {
    width: 336px;
    padding: 32px 53px;
  }
}
@media (min-width: 1200px) {
  .products-onecard {
    width: 270px;
    padding: 32px 20px;
  }
}
.products-onecard-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 2px;
}
.products-onecard-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  margin-bottom: 18px;
}
.products-onecard-img {
  margin-bottom: 8px;
}
.products-onecard-btn {
  border: 1px solid rgba(17, 17, 17, 0.1);
  background-color: var(--color-white);
  border-radius: 100px;
  width: 94px;
  height: 33px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  padding: 0;
  transition: background-color 450ms cubic-bezier(0.4, 0, 0.2, 1), color 450ms cubic-bezier(0.4, 0, 0.2, 1), transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-onecard-btn:focus, .products-onecard-btn:hover {
  background-color: var(--color-orange);
  color: #ffffff;
  transform: scale(1.1);
}

.sellers .container {
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .sellers .container {
    padding: 50px 32px;
  }
}
@media (min-width: 1200px) {
  .sellers .container {
    padding: 60px 32px;
  }
}
.sellers-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}
@media (min-width: 768px) {
  .sellers-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .sellers-cards {
    padding: 60px 32px;
    flex-wrap: nowrap;
  }
}
.sellers-onecard {
  width: 368px;
}
@media (min-width: 768px) {
  .sellers-onecard {
    width: 344px;
  }
}
@media (min-width: 1200px) {
  .sellers-onecard {
    width: 335px;
  }
}
.sellers-onecard:hover p {
  transform: translateY(0%);
}
.sellers-onecard-textcontent-title {
  padding: 24px 0;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #111;
}
@media (min-width: 768px) {
  .sellers-onecard-textcontent-title {
    padding: 28px 0;
  }
}
.sellers-onecard-overlay {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.sellers-onecard-overlay-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: #fafafa;
  text-align: justify;
  padding: 178px 40px;
}
.sellers-onecard-overlay-img {
  max-width: 100%;
}

.love {
  margin-bottom: 32px;
}
.love .container {
  padding: 40px 20px 80px 20px;
}
@media (min-width: 768px) {
  .love .container {
    padding: 50px 32px 100px 32px;
  }
}
@media (min-width: 1200px) {
  .love .container {
    padding: 60px 32px 100px 32px;
  }
}
.love-title {
  margin-bottom: 64px;
}
.love-btn {
  min-width: 165px;
  height: 41px;
  border: 1px solid #fd9222;
  border-radius: 100px;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  padding: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: blur(4px);
  transition: 1350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 1350ms cubic-bezier(0.4, 0, 0.2, 1), color 1350ms cubic-bezier(0.4, 0, 0.2, 1), filter 1350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .love-btn {
    min-width: 222px;
    height: 50px;
    font-size: 18px;
  }
}
.love-btn:hover, .love-btn:focus {
  background-color: var(--color-orange);
  color: #ffffff;
  filter: blur(0);
}
.love-cardlist-cards {
  gap: 16px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .love-cardlist-cards {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .love-cardlist-cards {
    gap: 28px;
    flex-wrap: nowrap;
  }
}
.love-cardlist-card {
  /* flex-basis: calc((100% - 56px) / 3); */
  position: relative;
  text-align: center;
  height: 240px;
  background-color: transparent;
  -webkit-clip-path: circle(100%);
          clip-path: circle(100%);
  transition: all 550ms cubic-bezier(0.4, 0, 0.2, 1);
}
.love-cardlist-card:hover {
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
}
.love-cardlist-card-img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .love-cardlist-card-img {
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.love-cardlist-card-content {
  background-color: #ffffff;
  width: 335px;
  height: 200px;
  margin-top: 40px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  border-radius: 15px;
  padding: 56px 18px 42px 18px;
}
@media (min-width: 768px) {
  .love-cardlist-card-content {
    padding: 56px 16px 42px 16px;
    width: 344px;
  }
}
@media (min-width: 1200px) {
  .love-cardlist-card-content {
    padding: 56px 24px 24px 24px;
    width: 360px;
  }
}
.love-cardlist-card-content-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}
.love-cardlist-card-content-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.footer {
  background-color: var(--color-violet);
}
.footer .container {
  padding: 32px 20px;
}
@media (min-width: 768px) {
  .footer .container {
    padding: 50px 32px;
  }
}
.footer-block1 {
  margin-bottom: 64px;
}
@media (min-width: 768px) {
  .footer-block1 {
    display: flex;
    justify-content: space-between;
    gap: 52px;
    margin-bottom: 78px;
  }
}
@media (min-width: 1200px) {
  .footer-block1 {
    gap: 474px;
  }
}
.footer-block1-title {
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 300px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .footer-block1-title {
    font-size: 28px;
    line-height: 1.21429;
  }
}
.footer-block1-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
@media (min-width: 768px) {
  .footer-block1-links {
    flex-direction: row;
    gap: 40px;
  }
}
@media (min-width: 1200px) {
  .footer-block1-links {
    gap: 50px;
  }
}
.footer-block1-links-con-add-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-block1-links-con-add-link:hover, .footer-block1-links-con-add-link:hover {
  color: var(--color-orange);
}
.footer-block1-links-con-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
  text-align: left;
}
.footer-block1-links-con-text-add-list-li:not(:last-child) {
  margin-bottom: 4px;
}
.footer-block1-links-con-text-add-list-li {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: left;
  color: #fff;
}
.footer-block1-links-mes-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
  text-align: left;
}
.footer-block1-links-mes-list {
  display: flex;
  gap: 14px;
}
.footer-block1-links-mes-list-li {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
}
.footer-block1-links-mes-link {
  fill: #fff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-block1-links-mes-link:hover, .footer-block1-links-mes-link:focus {
  fill: var(--color-orange);
}
.footer-block2 {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 32px;
}
@media (min-width: 768px) {
  .footer-block2 {
    flex-direction: row;
    align-items: baseline;
    gap: 32px;
  }
}
@media (min-width: 1200px) {
  .footer-block2 {
    gap: 358px;
  }
}
.footer-block2-nav-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) {
  .footer-block2-nav-list {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }
}
@media (min-width: 1200px) {
  .footer-block2-nav-list {
    gap: 24px;
  }
}
.footer-block2-nav-list-li {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-block2-nav-list-li-a {
  position: relative;
}
.footer-block2-nav-list-li-a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  width: 100%;
  margin-top: 30px;
  background-color: var(--color-orange);
  height: 2px;
  border-radius: 15px;
  transform: scale(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: center;
}
.footer-block2-nav-list-li-a:hover:before {
  transform: scale(1);
}
.footer-block2-nav-list-li:hover, .footer-block2-nav-list-li:focus {
  color: var(--color-orange);
}
.footer-block2-form-input {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 14px 18px;
  width: 207px;
  height: 45px;
  background-color: transparent;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer-block2-form-input {
    width: 233px;
    height: 45px;
    padding: 14px 24px;
  }
}
@media (min-width: 1200px) {
  .footer-block2-form-input {
    width: 313px;
    height: 52px;
    padding: 15px 24px;
  }
}
.footer-block2-form-input::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22222;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
.footer-block2-form-input::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22222;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .footer-block2-form-input::-moz-placeholder {
    font-size: 18px;
  }
  .footer-block2-form-input::placeholder {
    font-size: 18px;
  }
}
.footer-block2-form-input:focus-within {
  border-color: #fcf1e0;
}
.footer-block2-form-btn {
  border-radius: 100px;
  padding: 0;
  min-width: 120px;
  height: 45px;
  background-color: var(--color-orange);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .footer-block2-form-btn {
    min-width: 128px;
    height: 45px;
  }
}
@media (min-width: 1200px) {
  .footer-block2-form-btn {
    min-width: 137px;
    height: 52px;
  }
  .footer-block2-form-btn:hover, .footer-block2-form-btn:focus {
    background-color: #fcf1e0;
    color: var(--color-orange);
  }
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--color-white);
  border-radius: 15px;
  max-width: 517px;
  height: 794px;
  overflow-y: auto;
  max-height: 95%;
  padding: 38px 40px 40px 40px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  top: 31px;
  right: 31px;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus, .modal-close-btn:hover {
  background-color: var(--color-orange);
}
.modal-close-btn:focus .modal-svg-x, .modal-close-btn:hover .modal-svg-x {
  fill: var(--color-notwhite);
}
.modal-svg-x {
  fill: var(--color-dark);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  margin-bottom: 42px;
  max-width: 298px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-wrap {
  position: relative;
  margin-bottom: 18px;
}
.modal-form-wrap-div {
  position: relative;
}
.modal-form-wrap-label {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}
.modal-form-wrap-input {
  height: 58px;
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 13px;
  padding-left: 68px;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
  caret-color: var(--color-orange);
}
.modal-form-wrap-input:focus + .svg-form {
  stroke: var(--color-orange);
  transition: stroke 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-textareawrap {
  margin-bottom: 18px;
}
.modal-form-textareawrap-input {
  resize: none;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px 93px 24px;
  width: 436px;
  height: 137px;
  background-color: transparent;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-form-textareawrap-input:focus-within, .modal-form-wrap-input:focus-within {
  border-color: var(--color-orange);
}

.svg-form {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  fill: none;
  stroke: #4c4c4c;
}
.svg-form-war {
  position: absolute;
  right: 26px;
  top: 50%;
  transform: translateY(-50%);
  fill: transparent;
}

/* Checkbox  and   btn  ///////////////////////////////////////////////// */
.checkbox {
  margin-bottom: 50px;
  align-items: center;
  align-self: flex-start;
}
.checkbox-send-btn {
  display: block;
  align-self: center;
  min-width: 117px;
  height: 45px;
  border-radius: 100px;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: var(--color-orange);
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-send-btn:hover, .checkbox-send-btn:focus {
  background-color: #fcf1e0;
  color: #1e1823;
}
.checkbox-span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.checkbox-link-privacy {
  -webkit-text-decoration: underline solid;
          text-decoration: underline solid;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--color-orange);
}
.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}
.checkbox-input:checked + .checkbox-label .checkbox-span {
  background-color: var(--color-orange);
  fill: var(--color-white);
  border: none;
}

.review {
  background-color: rgba(17, 17, 17, 0.4);
  max-width: 1136px;
  margin: 0 auto;
  background-image: url(../images/Subcribe-mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .review {
    background-image: url(../images/Subcribe-mob@2x.jpg);
  }
}
@media (min-width: 768px) {
  .review {
    background-image: url(../images/Subcribe-tab@1x.jpg);
    max-width: 768px;
  }
}
@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  .review {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/Subcribe-tab@2x.jpg);
  }
}
@media (min-width: 1200px) {
  .review {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/Subcribe-des@1x.jpg);
    max-width: 1136px;
  }
}
@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (min-resolution: 192dpi) {
  .review {
    background-image: linear-gradient(rgba(17, 17, 17, 0.4), rgba(17, 17, 17, 0.4)), url(../images/Subcribe-des@2x.jpg);
  }
}
.review .container {
  padding: 62px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
@media (min-width: 768px) {
  .review .container {
    padding: 72px 0;
  }
}
.review-title {
  width: 291px;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-align: center;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  .review-title {
    width: 378px;
  }
}
.review-text {
  width: 326px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}
@media (min-width: 768px) {
  .review-text {
    width: 467px;
  }
}
.review-btn {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding: none;
  border: none;
  min-width: 172px;
  height: 50px;
  border-radius: 100px;
  background-color: var(--color-orange);
  transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1), color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-btn:hover, .review-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}

.modal-burger {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-burger.is-open {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(100%);
}
.modal-burger-wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--color-violet);
  border-radius: 10px;
  width: 220px;
  height: 924px;
  overflow-y: auto;
  max-height: 80%;
  padding: 136px 46px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .modal-burger-wrapp {
    width: 290px;
    padding: 156px 83px;
  }
}
.modal-burger-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal-burger-close-btn {
    top: 24px;
    right: 32px;
  }
}
.modal-burger-close-btn:focus, .modal-burger-close-btn:hover {
  background-color: var(--color-orange);
}
.modal-burger-close-btn:focus .modal-burger-svg-x, .modal-burger-close-btn:hover .modal-burger-svg-x {
  fill: var(--color-violet);
}
.modal-burger-svg-x {
  fill: var(--color-notwhite);
}
.modal-burger-nav-anchor-li {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-burger-nav-anchor-li:not(:last-child) {
  margin-bottom: 24px;
}
.modal-burger-nav-anchor-li:hover, .modal-burger-nav-anchor-li:focus {
  color: var(--color-orange);
}
.modal-burger-nav-mes {
  display: flex;
  flex-direction: row;
  gap: 19px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}
@media (min-width: 768px) {
  .modal-burger-nav-mes {
    left: 34px;
    bottom: 26px;
  }
}
.modal-burger-nav-mes-svg {
  fill: var(--color-notwhite);
  transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 22px;
  height: 22px;
}
@media (min-width: 768px) {
  .modal-burger-nav-mes-svg {
    width: 24px;
    height: 24px;
  }
}
.modal-burger-nav-mes-li:hover .modal-burger-nav-mes-svg {
  fill: var(--color-orange);
}

.modal-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-subscribe.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-subscribe-img {
  background-size: cover;
}
.modal-subscribe-svg-x {
  fill: var(--color-white);
}
.modal-subscribe-wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: var(--color-white);
  border-radius: 10px;
  width: 311px;
  max-height: 350px;
  overflow-y: auto;
  max-height: 90%;
}
@media (min-width: 768px) {
  .modal-subscribe-wrapp {
    width: 538px;
    height: 412px;
  }
}
.modal-subscribe-wrapp-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  top: 15px;
  right: 14px;
  width: 28px;
  height: 28px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal-subscribe-wrapp-close-btn {
    top: 24px;
    right: 24px;
  }
}
.modal-subscribe-wrapp-close-btn:focus, .modal-subscribe-wrapp-close-btn:hover {
  background-color: var(--color-orange);
}
.modal-subscribe-wrapp-close-btn:focus .modal-subscribe-svg-x, .modal-subscribe-wrapp-close-btn:hover .modal-subscribe-svg-x {
  fill: var(--color-violet);
}
.modal-subscribe-wrapp2 {
  padding: 20px 15px;
}
@media (min-width: 768px) {
  .modal-subscribe-wrapp2 {
    padding: 35px 35px;
  }
}
.modal-subscribe-wrapp2-title {
  color: var(--color-dark);
  width: 298px;
  text-align: left;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .modal-subscribe-wrapp2-title {
    margin-bottom: 28px;
  }
}
.modal-subscribe-wrapp2-form-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 30px;
  padding: 14px 18px;
  width: 180px;
  height: 40px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.3);
}
.modal-subscribe-wrapp2-form-input:focus {
  outline: none;
  border-color: var(--color-orange);
}
@media (min-width: 768px) {
  .modal-subscribe-wrapp2-form-input {
    width: 300px;
    height: 52px;
  }
}
.modal-subscribe-wrapp2-form-label {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-subscribe-wrapp2-form-btn {
  border-radius: 100px;
  padding: 0;
  min-width: 90px;
  height: 40px;
  background-color: var(--color-orange);
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28571;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
}
@media (min-width: 768px) {
  .modal-subscribe-wrapp2-form-btn {
    min-width: 137px;
    height: 52px;
    margin-left: 8px;
  }
  .modal-subscribe-wrapp2-form-btn:hover, .modal-subscribe-wrapp2-form-btn:focus {
    background-color: #fcf1e0;
    color: var(--color-orange);
  }
}

.modal-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: rgba(46, 47, 66, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buy.is-open {
  opacity: 1;
  pointer-events: auto;
}
.modal-buy-wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ebebeb;
  border-radius: 10px;
  max-width: 311px;
  height: 90%;
  overflow-y: auto;
  max-height: 994px;
  padding: 32px 24px;
}
@media (min-width: 768px) {
  .modal-buy-wrapp {
    max-width: 609px;
    height: 90%;
    max-height: 1058px;
    padding: 48px 48px;
  }
}
.modal-buy-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  top: 14px;
  right: 14px;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal-buy-close-btn {
    top: 20px;
    right: 20px;
  }
}
.modal-buy-close-btn:focus, .modal-buy-close-btn:hover {
  background-color: var(--color-orange);
}
.modal-buy-close-btn:focus .modal-buy-close-btn-svg-x, .modal-buy-close-btn:hover .modal-buy-close-btn-svg-x {
  fill: var(--color-violet);
}
.modal-buy-cards-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 32px;
}
@media (min-width: 768px) {
  .modal-buy-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 40px;
  }
}
.modal-buy-cards-list-li {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: 263px;
  height: 85px;
  padding: 8px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .modal-buy-cards-list-li {
    width: 160px;
    height: 196px;
    padding: 24px 20px 18px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
  }
}
.modal-buy-cards-list-li-link {
  font-weight: 600;
  font-size: 14px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  padding: 6px 16px;
  min-width: 73px;
}
@media (min-width: 768px) {
  .modal-buy-cards-list-li-link {
    font-weight: 600;
    font-size: 14px;
    padding: 8px 27px;
    min-width: 96px;
    padding: 8px 27px;
  }
}
.modal-buy-form-span {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: -0.02em;
  margin-bottom: 8px;
  display: block;
}
@media (min-width: 768px) {
  .modal-buy-form-span {
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
  }
}
.modal-buy-form-wrapp1 {
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-bottom: 18px;
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp1 {
    flex-direction: row;
    gap: 21px;
  }
}
.modal-buy-form-wrapp1-input {
  width: 263px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 13px 18px;
  caret-color: var(--color-orange);
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp1-input {
    width: 242px;
    border-radius: 8px;
    padding: 22px 24px;
  }
}
.modal-buy-form-wrapp1-input::-moz-placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-buy-form-wrapp1-input::placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp1-input::-moz-placeholder {
    font-size: 18px;
  }
  .modal-buy-form-wrapp1-input::placeholder {
    font-size: 18px;
  }
}
.modal-buy-form-wrapp2 {
  margin-bottom: 18px;
}
.modal-buy-form-wrapp2-label {
  display: block;
  position: relative;
}
.modal-buy-form-wrapp2-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 8px;
  padding: 13px 18px;
  width: 263px;
  height: 45px;
  margin-bottom: 18px;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  caret-color: var(--color-orange);
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp2-input {
    border-radius: 13px;
    padding: 22px 24px;
    width: 513px;
    height: 66px;
    margin-bottom: 18px;
    transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
    caret-color: var(--color-orange);
  }
}
.modal-buy-form-wrapp2-input::-moz-placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-buy-form-wrapp2-input::placeholder {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp2-input::-moz-placeholder {
    font-size: 18px;
  }
  .modal-buy-form-wrapp2-input::placeholder {
    font-size: 18px;
  }
}
.modal-buy-form-wrapp2-textarea-input {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  width: 513px;
  min-height: 137px;
  transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  caret-color: var(--color-orange);
}
.modal-buy-form-wrapp2-textarea-input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-buy-form-wrapp2-textarea-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.modal-buy-form-wrapp2-svg-ukr {
  position: absolute;
  top: 9px;
  left: 12px;
  width: 24px;
  height: 28px;
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp2-svg-ukr {
    left: 24px;
    top: 21px;
    width: 32px;
    height: 24px;
  }
}
.modal-buy-form-wrapp1-input:focus-within, .modal-buy-form-wrapp2-input:focus-within, .modal-buy-form-wrapp2-textarea-input:focus-within {
  border-color: var(--color-orange);
}
.modal-buy-btn {
  border-radius: 100px;
  padding: 12px 28px;
  min-width: 109px;
  background: var(--color-orange);
  font-weight: 600;
  font-size: 12px;
  color: #fff;
  border: none;
  transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1), background-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .modal-buy-btn {
    padding: 14px 40px;
    min-width: 133px;
    font-size: 14px;
  }
}
.modal-buy-btn:hover, .modal-buy-btn:focus {
  background-color: #fcf1e0;
  color: var(--color-orange);
}

.input-ukr {
  padding-left: 95px;
}
@media (min-width: 768px) {
  .input-ukr {
    padding-left: 155px;
  }
}

.modal-buy-before::before {
  content: "+380";
  position: absolute;
  left: 44px;
  top: 14px;
  z-index: 1;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #000;
}
@media (min-width: 768px) {
  .modal-buy-before::before {
    top: 22px;
    font-size: 18px;
    left: 74px;
  }
}

.modal-buy-before::after {
  content: "";
  position: absolute;
  display: block;
  width: 25px;
  height: 2px;
  left: 72px;
  top: 21px;
  transform: rotate(90deg);
  z-index: 1;
  background-color: rgba(17, 17, 17, 0.05);
}
@media (min-width: 768px) {
  .modal-buy-before::after {
    top: 32px;
    left: 120px;
    height: 3px;
    width: 32px;
  }
}

.modal-buy-form-wrapp2-svg-master {
  position: absolute;
  top: 12px;
  right: 16px;
  width: 32px;
  height: 21px;
}
@media (min-width: 768px) {
  .modal-buy-form-wrapp2-svg-master {
    top: 18px;
    right: 24px;
    width: 44px;
    height: 30px;
  }
}

.modal-buy-wrapp2-span-div {
  position: relative;
}/*# sourceMappingURL=main.css.map */